In [136]:
# adding pandas dependency
import pandas as pd

In [137]:
# Files to load
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [138]:
# loading dfs
school_data_df = pd.read_csv(school_data_to_load)
school_data_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [139]:
student_data_df = pd.read_csv(student_data_to_load)
student_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [140]:
# cleaning the data
school_data_df.count()
student_data_df.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [141]:
# chaining functions to find null values
school_data_df.isnull().sum()

School ID      0
school_name    0
type           0
size           0
budget         0
dtype: int64

In [142]:
student_data_df.isnull().sum()

Student ID       0
student_name     0
gender           0
grade            0
school_name      0
reading_score    0
math_score       0
dtype: int64

In [143]:
student_names = student_data_df['student_name'].tolist()

In [144]:
faulty_names = []

for name in student_names:
 #   print(name.split(), len(name.split()))
    if len(name.split()) >= 3:
        faulty_names.append(name)

faulty_names

['Dr. Richard Scott',
 'Dr. Jordan Carson',
 'Madeline Snyder MD',
 'Mr. Dylan Taylor MD',
 'Dr. Scott Gill',
 'Miss Madison Everett',
 'Virginia Ramirez MD',
 'Joseph Morales III',
 'Angela Perkins DVM',
 'Heather Allen MD',
 'Luke Lowery MD',
 'Dr. Larry Hines',
 'Emily Cardenas MD',
 'Mrs. Elizabeth Espinoza DDS',
 'Mrs. Lisa Becker',
 'Mr. Travis Young',
 'Paula Fernandez DVM',
 'Dr. Xavier Bell II',
 'Andrew Hanson MD',
 'Mr. Roberto Wright MD',
 'Mr. Dale Miller',
 'Mary Gonzalez DDS',
 'Mrs. Cindy Brown',
 'James White MD',
 'Donald Gill DDS',
 'Mrs. Catherine Williams MD',
 'Ashley Caldwell MD',
 'Mr. Jared Campbell',
 'Michael Moreno PhD',
 'Tara Parker MD',
 'Shawn Williams DVM',
 'Dr. Alicia Martinez',
 'Mr. Timothy Anderson',
 'Mrs. Paula Lee',
 'Mr. Elijah Hall',
 'Mr. Raymond Stone',
 'John Dickerson MD',
 'Mr. Alex Franklin',
 'Mrs. Jessica Dunn',
 'Mr. Michael Stevenson',
 'Jason Jones DDS',
 'Adriana Wade MD',
 'Erica Hurley MD',
 'Dr. Garrett Wright',
 'Mr. James Allen',
 'Mr. Timothy Harper MD',
 'Dale Brown MD',
 'Dr. Christina Moore',
 'Angela Peterson MD',
 'Jennifer Ferguson MD',
 'Anthony Wilson DDS',
 'Dr. Jessica Lopez',
 'David Miller Jr.',
 'Dr. John Jones',
 'Ms. Samantha Brown',
 'Cynthia Hansen DVM',
 'Rebecca Montoya MD',
 'Dr. Jacob Matthews',
 'Dr. Jacob Bell',
 'Mr. Bruce Thomas',
 'Robert Martin MD',
 'Mrs. Marcia Jones PhD',
 'Reginald Garcia IV',
 'Patricia Smith MD',
 'Amy Dyer DDS',
 'Brian Hall DDS',
 'Douglas Levy DDS',
 'Mr. Eric Ibarra',
 'Benjamin Ramirez MD',
 'Raymond Freeman DDS',
 'Carla Reeves MD',
 'Dr. Donald Williams',
 'Mr. John Carter',
 'William Jackson DVM',
 'Mr. Mitchell Cooper',
 'Kevin Brown IV',
 'Mrs. Kathleen Reed',
 'Donna Robinson MD',
 'Mrs. Dawn Olson DDS',
 'Mr. Dustin Glover',
 'Alexis French MD',
 'Lisa Guerrero MD',
 'David Nguyen DVM',
 'William Washington Jr.',
 'Julie Patterson MD',
 'Mr. James Kelly',
 'Dr. Robert Martin',
 'Darlene Thomas PhD',
 'Mr. Juan Jenkins',
 'Mr. Juan Bryant II',
 'Mr. Matthew Coleman',
 'Bonnie Hammond MD',
 'Kathleen Harris DDS',
 'Steven Velez DDS',
 'Tammy Cruz DDS',
 'Dr. Marie Williams',
 'Kenneth Paul Jr.',
 'Mr. Jose Morris',
 'Scott Rivers III',
 'Melissa Rodriguez MD',
 'Geoffrey Ortiz MD',
 'Matthew Stewart MD',
 'Sandra Thompson DDS',
 'Mark Myers Jr.',
 'Mrs. Maria Smith DDS',
 'Dr. Kimberly Clements',
 'Dr. Kenneth Webb',
 'Amanda Patterson DVM',
 'Miss Tara Banks DDS',
 'Nancy Brown DVM',
 'Chase Boyd MD',
 'Mr. James Spence',
 'Miss Colleen Stewart DDS',
 'Mr. Todd Greene PhD',
 'Amanda Hamilton DDS',
 'Mrs. Lisa Rowland',
 'Mr. Eric Moon',
 'Mrs. Alicia Kelly DDS',
 'Mr. Michael Norton Jr.',
 'Mr. James Crosby',
 'Mr. Sean Pena Jr.',
 'Kathy Lucero DVM',
 'Dustin Ferguson DDS',
 'Dr. James Patterson',
 'Dr. Juan Cobb MD',
 'Victoria Garcia MD',
 'Michael Evans DVM',
 'Miss Ebony Bell',
 'Mr. Justin Mullins DDS',
 'Mrs. Jill Walker',
 'Mr. Eric Hicks',
 'Tara Williams DVM',
 'Dr. Jessica Watkins',
 'Mr. Joseph Turner',
 'Cody Mueller Jr.',
 'Kiara Williams MD',
 'Mathew White Jr.',
 'Steve Hendricks MD',
 'Mr. Victor Duarte',
 'Dr. Stacy Maynard',
 'Mr. Steven Snyder PhD',
 'Jessica Warner PhD',
 'Trevor Summers DDS',
 'Maria Doyle MD',
 'Stacie Walker DDS',
 'Megan House DVM',
 'Ms. Deborah Coleman',
 'Dr. Ryan Barker',
 'Mr. Michael Cox',
 'Mrs. Rebecca Martin DVM',
 'Sara Jacobs MD',
 'Mr. Jason Daugherty Jr.',
 'Mrs. Natalie Holder MD',
 'Charles Hernandez DDS',
 'Dr. Charles Lawrence',
 'Mr. Tyler Walker',
 'Janet Whitaker MD',
 'Jeremy Watkins MD',
 'David Martinez DDS',
 'Kimberly Olsen DDS',
 'Dr. Nicole Roy',
 'Mr. Justin Maxwell',
 'Danielle Robinson DDS',
 'Mrs. Susan Chase DDS',
 'Mr. Alex Gonzales DDS',
 'Leonard Webster II',
 'David Taylor PhD',
 'Mr. Christopher Stuart',
 'Mr. Kevin Wilson',
 'Mr. John Walters',
 'Breanna Peterson MD',
 'Terri Quinn PhD',
 'Christian Reynolds DDS',
 'Mr. Donald Gray',
 'Dr. Shawn Brown',
 'Samantha Salas MD',
 'Valerie Thomas DDS',
 'Mrs. Gina Anderson',
 'Michael Stein Jr.',
 'Mr. Robert Day',
 'Justin Hernandez DDS',
 'Mrs. Mikayla White',
 'Dr. Edward Palmer',
 'Elizabeth Coleman MD',
 'Alexandra Hood PhD',
 'Michael Gonzalez DDS',
 'Ryan Phillips Jr.',
 'Ashley Jones DDS',
 'Susan Trujillo MD',
 'Carol Baker MD',
 'Kelly Ibarra MD',
 'Mrs. Crystal Perez',
 'Mr. Joshua Jensen MD',
 'Ms. Vanessa Ortiz DDS',
 'Mr. Jay Navarro',
 'Dr. Jimmy Smith MD',
 'John Compton DDS',
 'Mario Wheeler PhD',
 'Mr. Joshua Simon',
 'Alicia Ferguson DVM',
 'Dr. Amy Melendez',
 'Gloria Fritz DDS',
 'Dr. Michael Miller',
 'Mrs. Alexandra Taylor',
 'Dr. Jennifer Ramirez MD',
 'Mrs. Amy Walker MD',
 'David Dickson MD',
 'Amanda Mills DDS',
 'Mr. Jason West',
 'Mr. Joshua Hall',
 'Mrs. Elizabeth Mitchell',
 'Dr. Sarah Miller',
 'Allen Snyder Jr.',
 'Calvin Williams Jr.',
 'Dr. Tammy Shelton',
 'Miss Jennifer Gibson',
 'Miss Christy Robinson',
 'Mr. Michael Rhodes',
 'Deborah Huffman DDS',
 'Ronald Torres Jr.',
 'Mr. Oscar Bautista',
 'Ellen Mcgee MD',
 'Emily Andrews MD',
 'Richard Williams PhD',
 'Mr. Michael Baker PhD',
 'Dr. Robert Taylor',
 'Traci Obrien DDS',
 'Robert Harris MD',
 'Dr. Diana Martin',
 'Logan Ward MD',
 'Mrs. Janice Dixon',
 'Gabriel Smith III',
 'Linda Duran DVM',
 'Ronald Mayer PhD',
 'Mr. David Smith',
 'Brian Pitts Jr.',
 'Ms. Stephanie Rose',
 'Mr. Richard Stephens',
 'Miss Kimberly Joseph',
 'Bruce Thompson II',
 'Tony Adams DDS',
 'Dr. Annette Collins DDS',
 'Mr. Chad Hendricks',
 'Lindsey Tyler DVM',
 'Michael Drake MD',
 'Jeremy Sanders II',
 'Mr. George Goodwin MD',
 'Amanda Ramirez DDS',
 'Aaron Morris MD',
 'Mrs. Michelle Butler',
 'Mr. Robert Carson',
 'Mrs. Jennifer Martin DDS',
 'Miss Amber Wallace',
 'Mrs. Mary Hardy',
 'Jennifer Smith PhD',
 'Jodi White DDS',
 'Mr. Ryan Strickland',
 'Mr. Michael Koch',
 'Mrs. Kara Rodriguez DDS',
 'Mr. Ryan Adams',
 'Austin Johnson II',
 'Mr. Samuel Robertson DVM',
 'Benjamin Vargas DDS',
 'Mrs. Wendy Thomas',
 'Bryan Conway Jr.',
 'Brittany Hatfield DVM',
 'Mrs. Casey Hayes',
 'Johnny Byrd MD',
 'Nicole Burke MD',
 'Brett Banks DVM',
 'Mrs. Lori Johnson',
 'Michael Shea MD',
 'Jesse Thompson DDS',
 'Brooke Simpson DVM',
 'Mr. Michael Davis',
 'Mr. Thomas White',
 'Jessica Scott DDS',
 'Mr. Michael Burton',
 'Mrs. Laurie Brown',
 'Dr. Cindy Logan',
 'Nicholas Jones MD',
 'Ronald Moore II',
 'Mr. Jonathon Patrick',
 'Mr. Andrew Kemp',
 'Alexander Garcia PhD',
 'Brett Campbell MD',
 'Mrs. Paige Hall',
 'Danielle Smith MD',
 'Catherine Mendez MD',
 'Mr. David Mcdonald',
 'Mrs. Ashley Porter DDS',
 'Jason Mcdowell MD',
 'Mr. Martin Lozano',
 'Bruce Hendrix MD',
 'Pamela Cox DDS',
 'Dr. Kristina Turner',
 'Samantha Buchanan DDS',
 'Mr. Cameron Singh',
 'Mr. Steven Davis',
 'Ruth Martinez MD',
 'George White DDS',
 'Dr. Michael Johnson',
 'Joshua Garrison PhD',
 'Mr. Nicholas Rodriguez DVM',
 'Ms. Sarah Ray DVM',
 'Natalie Rivera MD',
 'Dr. Tracy Powell',
 'Mr. Jason Chavez MD',
 'Mrs. Leslie Mathews',
 'Patrick Newman DDS',
 'Mr. Michael Chapman DDS',
 'Jennifer Long PhD',
 'Matthew Anthony MD',
 'Robert Garrison IV',
 'Jamie Anderson DDS',
 'William Gonzalez Jr.',
 'Dr. Jennifer Weiss',
 'Dr. Cynthia Torres',
 'John Miranda DDS',
 'Dr. Brian Matthews Jr.',
 'Mr. Christopher Quinn',
 'Mrs. Jacqueline Rose',
 'Mrs. Angela Gray',
 'Mrs. Tara Carpenter',
 'Shannon Stevenson MD',
 'Kaitlin Warner MD',
 'Dr. Jessica Fowler MD',
 'Mrs. Catherine Armstrong',
 'John Mullins DDS',
 'Christina Benson MD',
 'Amy Martinez DVM',
 'Ashley Edwards DVM',
 'Melissa Herrera DDS',
 'Adam Arroyo DDS',
 'Dr. Amanda Cochran',
 'Eric Richards Jr.',
 'Mrs. Angela Martinez',
 'Natalie Garcia MD',
 'Mr. Dennis Duke',
 'Christopher Fleming MD',
 'Misty Beck DDS',
 'Sharon Lloyd DDS',
 'Mrs. Laura Malone MD',
 'Dr. Gabriel Flores MD',
 'Dr. Russell Gallegos',
 'Kyle Walker MD',
 'Caleb Oliver MD',
 'Mr. Cameron Erickson',
 'Pamela Oliver DVM',
 'Mariah Russell MD',
 'Jonathan Fisher DVM',
 'Ms. Sarah Mcintosh DVM',
 'Lynn Jones MD',
 'Allison Martinez DDS',
 'Jeffrey Zamora MD',
 'Kenneth Munoz Jr.',
 'Dr. Ellen Mcclure DDS',
 'Samantha Ballard MD',
 'Mariah Franco MD',
 'Mr. Daniel Smith DVM',
 'Jon Delgado Jr.',
 'Mrs. Anna Dickerson',
 'Mrs. Cynthia Martinez DDS',
 'Angela Hamilton MD',
 'Mrs. Stephanie Stone',
 'Dr. Marcus Kim MD',
 'Jordan Brewer PhD',
 'Mrs. Veronica Neal',
 'Dr. Mike Alvarez',
 'Patricia Lee DDS',
 'Andrew English Jr.',
 'Dr. Jennifer Martinez MD',
 'Dr. Donna Humphrey',
 'Mrs. Jennifer Tucker DDS',
 'Mrs. Jamie Bond',
 'Judy Mills MD',
 'Christina Jackson DDS',
 'Mr. Raymond Cox Jr.',
 'Dr. Donna Cooper',
 'Jeffrey Mcclain Jr.',
 'Mr. Joseph Hill',
 'Bryan Shaffer DVM',
 'Julie Bond MD',
 'Michael Hunter DDS',
 'Melissa Rodriguez PhD',
 'Deborah Rodriguez MD',
 'Mrs. Andrea Wilson',
 'Dr. Jonathan Woods PhD',
 'Jacob Ballard MD',
 'Mr. Brian Poole V',
 'Jeffrey Kim II',
 'Mr. Michael Gonzalez',
 'Kevin Brooks MD',
 'April Hansen PhD',
 'Mr. Brian Austin',
 'Sara Cooper DVM',
 'Kelsey Ellis MD',
 'Deborah Madden MD',
 'Dr. Brooke Silva',
 'Dr. Melissa Allen PhD',
 'Karen Thomas MD',
 'Mrs. Sophia Harper',
 'Tara Singleton MD',
 'Dr. Alison Flores',
 'Kenneth Adams MD',
 'Mrs. Natasha White',
 'Amanda Sanchez DDS',
 'Scott Campbell DVM',
 'Matthew Alexander Jr.',
 'Dr. Shane Gilmore MD',
 'Miss Paula Lawson',
 'Mrs. Theresa Roberts',
 'Kevin Reynolds Jr.',
 'Mr. David Anderson',
 'Dr. Gabrielle Morris',
 'Jacob Skinner Jr.',
 'Miss Lisa Kennedy',
 'Timothy Byrd DDS',
 'Haley Jordan PhD',
 'Deborah Mack DVM',
 'Mckenzie Morris DVM',
 'Megan Saunders MD',
 'Tina Meyer MD',
 'Harold Sutton MD',
 'James Allen DVM',
 'Dr. Lauren Perry',
 'Eric Riley MD',
 'Jamie Rogers DDS',
 'Natasha Lee MD',
 'Ms. Paula Taylor',
 'Theodore Mendez DDS',
 'Ms. Rebecca Johnson',
 'Mr. Dennis Gibson Jr.',
 'Mrs. Sherry Flores MD',
 'Dr. Alejandro Swanson',
 'Dr. Tiffany Peters DDS',
 'Christopher Crawford DDS',
 'Jimmy Shea Jr.',
 'Mr. Joshua Cunningham',
 'Mr. Travis Jackson',
 'Dr. Mary Johnson',
 'Mr. Patrick Duarte',
 'Mr. Adam Hernandez',
 'Dr. Susan Wright',
 'Miss Stephanie Perry DVM',
 'Dr. Tracey Gonzalez',
 'Paul Hernandez DVM',
 'Mrs. Jasmine Schroeder',
 'Mr. Adam Sosa',
 'Linda Sanchez DDS',
 'Mrs. Danielle Jones',
 'Benjamin Henry MD',
 'Mr. Randy Reyes',
 'Mr. Russell Elliott',
 'Mr. Thomas Smith MD',
 'Rachel Hanna DVM',
 'Robert Stephens MD',
 'Dr. Sean Duncan MD',
 'Maria Adams MD',
 'Mrs. Theresa Bauer',
 'Teresa Blair DDS',
 'Dr. Jennifer Campbell MD',
 'Dr. Melody Garcia',
 'James Reed Jr.',
 'Elizabeth Wallace MD',
 'Mrs. Gina Williams',
 'Emily Price MD',
 'Mrs. Bonnie Boyd PhD',
 'Dr. Harry Campbell',
 'Dr. Kevin Simon',
 'Dr. Eric Lambert PhD',
 'Mr. John Mathis',
 'Jason Bush DDS',
 'Ms. Amy House',
 'Dr. Kevin Diaz',
 'Mr. Kevin Benjamin',
 'Mrs. Michelle Dickerson DDS',
 'Dr. Alexandra Mays',
 'Mrs. Jessica Hebert',
 'Dr. George Cline',
 'Mrs. Whitney Scott',
 'Jennifer Jenkins DDS',
 'Mr. Gregg Rosario',
 'Scott Roth MD',
 'Evelyn Kirby MD',
 'Miranda Thompson PhD',
 'Dr. Carla Ross',
 'Mrs. Tanya Odom',
 'Jeffery Baker Jr.',
 'Mrs. Melissa Medina',
 'Daniel Lara MD',
 'Mrs. Nicole Vazquez',
 'Dr. Emily Gutierrez DDS',
 'Dr. Stephanie Smith',
 'Derrick Hughes III',
 'Mr. Eduardo James',
 'Mr. Michael Cook',
 'Mr. David Hill',
 'Dr. Ryan Orozco DVM',
 'Joshua Rivera Jr.',
 'Marc Harmon DDS',
 'Mr. Keith Peters DDS',
 'Amanda Freeman MD',
 'Dr. Michelle Carlson',
 'Dr. Stephen Vargas',
 'Colleen Frederick DVM',
 'Dr. Harry Chang',
 'Taylor Grant MD',
 'Mrs. Renee Thomas DDS',
 'Dr. Shannon Johnson MD',
 'Mrs. Christina Horne',
 'Mrs. Deborah Walters PhD',
 'Mr. Jesse Gonzalez',
 'Larry Martinez DDS',
 'Mrs. Anita Lee',
 'Dr. James Jones',
 'Dr. Tammy Jones',
 'Michael Golden MD',
 'Dr. Gavin Tate',
 'Dr. Christopher Collins',
 'Timothy Guzman Jr.',
 'Mr. Alexander Thomas',
 'Dr. James Lewis',
 'Mr. Andrew Miller',
 'Mrs. Kelly Hall',
 'Dr. Kayla Lowe',
 'Dr. Joseph Park',
 'Dr. Alfred Foster',
 'Amy Stephenson MD',
 'Stephen Black DVM',
 'Dr. Daryl Smith',
 'Stuart Gross DDS',
 'Michael Hardy DDS',
 'Mr. Kenneth Chase',
 'Mrs. Anna Everett MD',
 'Mr. Joshua Young',
 'Mrs. Robin Lopez MD',
 'Dr. Elizabeth Benson',
 'Dr. Casey Hogan',
 'Elizabeth Peterson DVM',
 'Marilyn Vasquez DVM',
 'Mr. Jack Reed',
 'Zachary Shields DVM',
 'Mrs. Molly Lopez MD',
 'Dr. Stephanie Jones',
 'Benjamin George DDS',
 'David Thomas DVM',
 'Jill Hudson DDS',
 'Mary Mccormick MD',
 'Michelle Smith MD',
 'Carl Burns MD',
 'Mr. Juan Buckley DDS',
 'Dr. Michelle Brown',
 'Jose Huffman PhD',
 'Deanna Mccarthy DDS',
 'Mrs. Robin Hughes',
 'Laura Shannon DVM',
 'Mary Fox DDS',
 'Ms. Jamie Sanchez',
 'Meredith Tucker DVM',
 'Jose Manning DDS',
 'Lisa Bruce DVM',
 'Crystal Howard DVM',
 'Mrs. Tracy Williams',
 'Mr. Jeffery Diaz',
 'Julie Baker DDS',
 'Miss Danielle Adams',
 'Lonnie Allen II',
 'Mr. Bryan Brooks',
 'Ashley Jimenez MD',
 'Tyrone Clark III',
 'Eric Mullins DDS',
 'Mr. Jonathan Walker',
 'Patricia Villarreal DDS',
 'Mrs. Megan Kaufman DVM',
 'Mathew Thompson DVM',
 'Mrs. Whitney Figueroa',
 'Miss Debbie Chavez',
 'Emma Bates MD',
 'Jeffrey Nelson Jr.',
 'Michael Mann II',
 'Mrs. Karina Perry',
 'Dr. Chelsey Williams MD',
 'Jessica Sanchez PhD',
 'Joseph Ellis PhD',
 'Mrs. Heather Gregory',
 'Mr. Steven Davies',
 'Dr. Lauren Brown',
 'Brett Garcia MD',
 'Anthony Davis DDS',
 'Anita Salazar DVM',
 'Joseph Jones DVM',
 'Edward Davis MD',
 'Mr. Brian Abbott',
 'Nicole Pennington MD',
 'Kelly Doyle DVM',
 'Franklin Chen DVM',
 'Mr. Brandon Young',
 'Nathan Welch PhD',
 'Dr. Katrina Farmer',
 'David Johnson Jr.',
 'Timothy Chavez Jr.',
 'Michele Oconnell MD',
 'Elizabeth Tran MD',
 'Dr. Grace Martin',
 'Sarah Chaney DDS',
 'Mrs. Brooke Henry DDS',
 'Dr. Lisa Coleman',
 'Brian Powell III',
 'Logan Oconnell PhD',
 'Lance Rangel Jr.',
 'Dr. Nicole King',
 'Mr. John Carroll',
 'Mr. Anthony Mccormick',
 'Samuel Ruiz MD',
 'Ms. Jennifer Richard',
 'Mr. Stephen Cochran',
 'Gary Jarvis MD',
 'Dustin Stephenson MD',
 'Mr. Derrick Campbell DDS',
 'Lori Brown MD',
 'Mrs. Brooke Rodgers',
 'Mr. David Moss',
 'Mr. Joseph Knight DDS',
 'Mrs. Brittany Duncan MD',
 'Mrs. Jennifer Edwards DVM',
 'William Cook PhD',
 'Kristina White MD',
 'Tonya Henry MD',
 'Robert Sanders PhD',
 'Noah Herrera Jr.',
 'Linda Marshall MD',
 'James Davis MD',
 'Dawn Gilbert MD',
 'Dr. Dennis Andrews',
 'Mr. John Evans',
 'Mr. Michael Brooks',
 'Shannon Ortiz MD',
 'Mrs. Brenda Bishop MD',
 'Wanda Miller MD',
 'Mrs. Sheila Wagner',
 'Mrs. Kathleen Johnson DVM',
 'Dr. Shannon Russo',
 'Chad Chavez DVM',
 'Mr. William Holt',
 'Paul Jensen PhD',
 'Cassandra Gardner DDS',
 'Mrs. Susan Klein',
 'Dr. Amanda Nguyen',
 'Mrs. Leslie Esparza',
 'Mrs. Jacqueline Simpson',
 'Mrs. Tammy Crane',
 'Dr. Wendy Oliver',
 'Katelyn Mejia DDS',
 'Dr. Miguel Rivera',
 'Mrs. Nancy Landry',
 'Renee Stewart MD',
 'Breanna Mcintyre DDS',
 'Sarah Fischer MD',
 'Ronald Berry DVM',
 'Mrs. Amanda Cook',
 'Dr. Monica Gonzalez',
 'Miss Jennifer Moore',
 'Crystal Watson DVM',
 'Suzanne Edwards DDS',
 'Lance Brown DVM',
 'Olivia Taylor DDS',
 'Mrs. Lauren Lewis',
 'Jillian Proctor MD',
 'Yvette Jacobson MD',
 'Chelsea Rhodes DVM',
 'Robert Brown DVM',
 'Maria Brooks DDS',
 'Eric Johnson Jr.',
 'Kelly Webb PhD',
 'Dr. Valerie Chen',
 'Mrs. Taylor Martin',
 'Dr. Andre Casey',
 'Mr. Stephen Clements',
 'Kevin Morrow MD',
 'Dr. Louis Skinner',
 'Adam Walker DVM',
 'Mr. Steven Smith',
 'Dr. Willie King',
 'Miranda Stanley DVM',
 'Dr. Travis Johnson',
 'Mr. Christopher Cook',
 'Mr. Martin Hensley DDS',
 'Kelly Haynes DVM',
 'Mr. Alexander Foster MD',
 'Mr. William Rodgers',
 'Anne Larsen MD',
 'Sherry Johnson MD',
 'Victor Chavez II',
 'Brandon Dougherty DDS',
 'Elizabeth Young DDS',
 'Mr. Joshua Lucas',
 'Michael Walsh DDS',
 'Mrs. Lauren Campbell',
 'Troy Camacho MD',
 'Richard Ellis Jr.',
 'Mr. Brandon Johnson',
 'Mrs. Brooke Campbell',
 'Dr. Karen Kelley',
 'Mr. Jason Simmons',
 'Mr. Larry Francis MD',
 'Mr. Christopher Griffin',
 'Mr. Dean York',
 'Charles Goodman Jr.',
 'Miss Erin Bradley DDS',
 'Mr. Michael Allen',
 'Kelly Romero MD',
 'Anna Yang MD',
 'John White DVM',
 'Mr. James Barnes',
 'Mr. Carlos Warner',
 'April Calderon MD',
 'Mrs. Kimberly Key DDS',
 'Eric Park DDS',
 'Patrick Barker PhD',
 'Michael Singh Jr.',
 'Jonathan Smith Jr.',
 'Allen Morris Jr.',
 'Mr. Lee Rose',
 'Dr. Carl James',
 'Dr. Kimberly Benjamin',
 'Mr. Lucas Smith',
 'Mr. Jason Grant DDS',
 'Aaron Solis Jr.',
 'Ryan Graham MD',
 'Justin Morgan MD',
 'Mrs. Victoria Cochran',
 'Dr. Ryan Roberts',
 'Katie Strickland DDS',
 'Emma Perry MD',
 'Mr. Daniel Mckinney Jr.',
 'Mr. Paul Farmer',
 'Stephanie Howard MD',
 'Mandy Mcconnell DDS',
 'Mrs. Angelica Hall',
 'Christopher Petty Jr.',
 'Megan Shaw DDS',
 'Bianca Huynh MD',
 'Miss Christina Burns',
 'Melissa Dunn MD',
 'Mr. Derek Wilson',
 'Mr. Angel Johnson',
 'Mrs. Nicole Duran',
 'Michael Garcia Jr.',
 'Mrs. Bethany Fisher PhD',
 'Mr. Daniel Nguyen DDS',
 'Wanda Moore MD',
 'Charles Short II',
 'Kimberly Jacobson PhD',
 'Debbie Brown DVM',
 'Mr. Michael Dyer MD',
 'Joshua Kim DDS',
 'Daniel Fitzpatrick PhD',
 'Jordan Waller MD',
 'Mr. Jesse Bell',
 'Mario Myers MD',
 'Terry Adams DDS',
 'Derek Barker Jr.',
 'Mrs. Renee Gordon',
 'Mr. Vincent King',
 'Dr. Oscar Lawson MD',
 'Lisa Zimmerman DVM',
 'Mr. Phillip Vaughan',
 'Joseph Dyer MD',
 'Dr. Austin Cole',
 'Mrs. Amanda Martin',
 'John Thomas MD',
 'Sierra Dominguez MD',
 'Mrs. Katie Weber MD',
 'Ms. Nancy Green',
 'Mrs. Pamela Garcia',
 'Danielle Stanton MD',
 'Elizabeth Logan DDS',
 'Courtney Wall DVM',
 'Karen Harris PhD',
 'Mrs. Amanda Herring',
 'Dr. David Miller',
 'Mr. Eric Anderson',
 'Mrs. Sheena Bailey DVM',
 'Zachary Garrett III',
 'Thomas Harrison Jr.',
 'Megan Bennett DVM',
 'Mr. Steven Harrison',
 'Amy Mcintosh MD',
 'Dr. Frank Anderson',
 'Jamie Dawson MD',
 'Mr. Andrew Mitchell V',
 'Dr. Travis Richmond',
 'Mrs. Amy Cain',
 'Aaron Davis Jr.',
 'Thomas Burgess MD',
 'Amanda Hale DVM',
 'Derek Cooke MD',
 'Dr. Daniel Bowman',
 'Dr. Jonathan Palmer',
 'Lori Mitchell DDS',
 'Mr. Richard Armstrong',
 'Dr. Timothy Johnson',
 'Mrs. Pam Lewis DVM',
 'Amy Gutierrez DDS',
 'Dr. Christina Flores',
 'Brian Bailey Jr.',
 'Mrs. Carla Humphrey',
 'William Burch MD',
 'Yvonne Robinson PhD',
 'Martha Mcdonald DVM',
 'Dr. Mary Schwartz',
 'Taylor Green DDS',
 'Christopher Simmons PhD',
 'Rhonda Peterson MD',
 'Jacqueline West DDS',
 'Anne Lee DDS',
 'Jacqueline Snow MD',
 'Dr. Jennifer Shea',
 'Clayton Williams DVM',
 'Mr. Jeremiah Morris IV',
 'Mr. John Harris',
 'Mr. David Morales Jr.',
 'Barbara Johnson MD',
 'Megan Gutierrez MD',
 'Larry Chandler Jr.',
 'Ronald Matthews PhD',
 'James Clark II',
 'Cameron Roman Jr.',
 'Mr. Ian Smith',
 'Melissa Hunt MD',
 'Alexandria Cooper MD',
 'Mr. Andre Jensen',
 'Renee Garcia MD',
 'Christopher Smith Jr.',
 'Mrs. Lori Rogers MD',
 'Tammy Dunlap DVM',
 'Matthew Sawyer PhD',
 'Mike Harris PhD',
 'Mrs. Christina Mitchell DDS',
 'Evelyn Suarez DDS',
 'Christina Alvarez PhD',
 'Emily Duran MD',
 'Todd Grant Jr.',
 'Mrs. Veronica Sherman',
 'Mr. Alan Anderson',
 'Mr. Jason Jackson',
 'Mrs. Jennifer Rivera',
 'Dr. Terry Sanchez',
 'Mr. Scott Sexton',
 'Mrs. Wendy Hayes',
 'Kenneth Santiago MD',
 'Dr. Matthew Hernandez',
 'Louis Hodges DDS',
 'Dr. Douglas Duffy',
 'Mrs. Michelle Patterson',
 'Mrs. Jennifer Craig',
 'Mr. Michael Graham',
 'Dr. David Wright',
 'Jeanne Fischer MD',
 'Mrs. Amanda Rose',
 'Rebecca Salazar DDS',
 'Mrs. Kathleen Cook',
 'Robert Olson DVM',
 'Richard Cherry DDS',
 'Jeffrey Shepard DVM',
 'James Holland MD',
 'Dr. Patricia Baker',
 'Joshua Montgomery MD',
 'Kevin Andrews PhD',
 'Dr. Rachel Gilbert',
 'Kenneth Avila Jr.',
 'Miss Taylor Barron',
 'Mr. Jason Lopez Jr.',
 'Parker Carter MD',
 'Dennis Wells DDS',
 'Mrs. Carol White',
 'Courtney Stephenson MD',
 'Dr. Andrea Rose',
 'Dr. Seth Villarreal DVM',
 'Mrs. Sabrina Murillo MD',
 'Mr. Eric Gordon',
 'Mrs. Brenda Johnson DVM',
 'Anthony Garrett DDS',
 'Billy Franco PhD',
 'Mr. Jeremiah Rogers',
 'Mr. Donald Vang',

In [145]:
len(faulty_names)

1531

In [146]:
prefixes, suffixes = [], []

for name in faulty_names: 
    if len(name.split()[0]) <= 4:
        prefixes.append(name.split()[0])
    elif len(name.split()[-1]) <= 3:
        suffixes.append(name.split()[-1])

In [147]:
prefixes

['Dr.',
 'Dr.',
 'Mr.',
 'Dr.',
 'Miss',
 'Luke',
 'Dr.',
 'Mrs.',
 'Mrs.',
 'Mr.',
 'Dr.',
 'Mr.',
 'Mr.',
 'Mary',
 'Mrs.',
 'Mrs.',
 'Mr.',
 'Tara',
 'Dr.',
 'Mr.',
 'Mrs.',
 'Mr.',
 'Mr.',
 'John',
 'Mr.',
 'Mrs.',
 'Mr.',
 'Dr.',
 'Mr.',
 'Mr.',
 'Dale',
 'Dr.',
 'Dr.',
 'Dr.',
 'Ms.',
 'Dr.',
 'Dr.',
 'Mr.',
 'Mrs.',
 'Amy',
 'Mr.',
 'Dr.',
 'Mr.',
 'Mr.',
 'Mrs.',
 'Mrs.',
 'Mr.',
 'Lisa',
 'Mr.',
 'Dr.',
 'Mr.',
 'Mr.',
 'Mr.',
 'Dr.',
 'Mr.',
 'Mark',
 'Mrs.',
 'Dr.',
 'Dr.',
 'Miss',
 'Mr.',
 'Miss',
 'Mr.',
 'Mrs.',
 'Mr.',
 'Mrs.',
 'Mr.',
 'Mr.',
 'Mr.',
 'Dr.',
 'Dr.',
 'Miss',
 'Mr.',
 'Mrs.',
 'Mr.',
 'Tara',
 'Dr.',
 'Mr.',
 'Cody',
 'Mr.',
 'Dr.',
 'Mr.',
 'Ms.',
 'Dr.',
 'Mr.',
 'Mrs.',
 'Sara',
 'Mr.',
 'Mrs.',
 'Dr.',
 'Mr.',
 'Dr.',
 'Mr.',
 'Mrs.',
 'Mr.',
 'Mr.',
 'Mr.',
 'Mr.',
 'Mr.',
 'Dr.',
 'Mrs.',
 'Mr.',
 'Mrs.',
 'Dr.',
 'Ryan',
 'Mrs.',
 'Mr.',
 'Ms.',
 'Mr.',
 'Dr.',
 'John',
 'Mr.',
 'Dr.',
 'Dr.',
 'Mrs.',
 'Dr.',
 'Mrs.',
 'Mr.',
 'Mr.',
 'Mrs.',
 'Dr.',
 'Dr.',
 'Miss',
 'Miss',
 'Mr.',
 'Mr.',
 'Mr.',
 'Dr.',
 'Dr.',
 'Mrs.',
 'Mr.',
 'Ms.',
 'Mr.',
 'Miss',
 'Tony',
 'Dr.',
 'Mr.',
 'Mr.',
 'Mrs.',
 'Mr.',
 'Mrs.',
 'Miss',
 'Mrs.',
 'Jodi',
 'Mr.',
 'Mr.',
 'Mrs.',
 'Mr.',
 'Mr.',
 'Mrs.',
 'Mrs.',
 'Mrs.',
 'Mr.',
 'Mr.',
 'Mr.',
 'Mrs.',
 'Dr.',
 'Mr.',
 'Mr.',
 'Mrs.',
 'Mr.',
 'Mrs.',
 'Mr.',
 'Dr.',
 'Mr.',
 'Mr.',
 'Ruth',
 'Dr.',
 'Mr.',
 'Ms.',
 'Dr.',
 'Mr.',
 'Mrs.',
 'Mr.',
 'Dr.',
 'Dr.',
 'John',
 'Dr.',
 'Mr.',
 'Mrs.',
 'Mrs.',
 'Mrs.',
 'Dr.',
 'Mrs.',
 'John',
 'Amy',
 'Adam',
 'Dr.',
 'Eric',
 'Mrs.',
 'Mr.',
 'Mrs.',
 'Dr.',
 'Dr.',
 'Kyle',
 'Mr.',
 'Ms.',
 'Lynn',
 'Dr.',
 'Mr.',
 'Jon',
 'Mrs.',
 'Mrs.',
 'Mrs.',
 'Dr.',
 'Mrs.',
 'Dr.',
 'Dr.',
 'Dr.',
 'Mrs.',
 'Mrs.',
 'Judy',
 'Mr.',
 'Dr.',
 'Mr.',
 'Mrs.',
 'Dr.',
 'Mr.',
 'Mr.',
 'Mr.',
 'Sara',
 'Dr.',
 'Dr.',
 'Mrs.',
 'Tara',
 'Dr.',
 'Mrs.',
 'Dr.',
 'Miss',
 'Mrs.',
 'Mr.',
 'Dr.',
 'Miss',
 'Tina',
 'Dr.',
 'Eric',
 'Ms.',
 'Ms.',
 'Mr.',
 'Mrs.',
 'Dr.',
 'Dr.',
 'Mr.',
 'Mr.',
 'Dr.',
 'Mr.',
 'Mr.',
 'Dr.',
 'Miss',
 'Dr.',
 'Paul',
 'Mrs.',
 'Mr.',
 'Mrs.',
 'Mr.',
 'Mr.',
 'Mr.',
 'Dr.',
 'Mrs.',
 'Dr.',
 'Dr.',
 'Mrs.',
 'Mrs.',
 'Dr.',
 'Dr.',
 'Dr.',
 'Mr.',
 'Ms.',
 'Dr.',
 'Mr.',
 'Mrs.',
 'Dr.',
 'Mrs.',
 'Dr.',
 'Mrs.',
 'Mr.',
 'Dr.',
 'Mrs.',
 'Mrs.',
 'Mrs.',
 'Dr.',
 'Dr.',
 'Mr.',
 'Mr.',
 'Mr.',
 'Dr.',
 'Marc',
 'Mr.',
 'Dr.',
 'Dr.',
 'Dr.',
 'Mrs.',
 'Dr.',
 'Mrs.',
 'Mrs.',
 'Mr.',
 'Mrs.',
 'Dr.',
 'Dr.',
 'Dr.',
 'Dr.',
 'Mr.',
 'Dr.',
 'Mr.',
 'Mrs.',
 'Dr.',
 'Dr.',
 'Dr.',
 'Amy',
 'Dr.',
 'Mr.',
 'Mrs.',
 'Mr.',
 'Mrs.',
 'Dr.',
 'Dr.',
 'Mr.',
 'Mrs.',
 'Dr.',
 'Jill',
 'Mary',
 'Carl',
 'Mr.',
 'Dr.',
 'Jose',
 'Mrs.',
 'Mary',
 'Ms.',
 'Jose',
 'Lisa',
 'Mrs.',
 'Mr.',
 'Miss',
 'Mr.',
 'Eric',
 'Mr.',
 'Mrs.',
 'Mrs.',
 'Miss',
 'Emma',
 'Mrs.',
 'Dr.',
 'Mrs.',
 'Mr.',
 'Dr.',
 'Mr.',
 'Mr.',
 'Dr.',
 'Dr.',
 'Mrs.',
 'Dr.',
 'Dr.',
 'Mr.',
 'Mr.',
 'Ms.',
 'Mr.',
 'Gary',
 'Mr.',
 'Lori',
 'Mrs.',
 'Mr.',
 'Mr.',
 'Mrs.',
 'Mrs.',
 'Noah',
 'Dawn',
 'Dr.',
 'Mr.',
 'Mr.',
 'Mrs.',
 'Mrs.',
 'Mrs.',
 'Dr.',
 'Chad',
 'Mr.',
 'Paul',
 'Mrs.',
 'Dr.',
 'Mrs.',
 'Mrs.',
 'Mrs.',
 'Dr.',
 'Dr.',
 'Mrs.',
 'Mrs.',
 'Dr.',
 'Miss',
 'Mrs.',
 'Eric',
 'Dr.',
 'Mrs.',
 'Dr.',
 'Mr.',
 'Dr.',
 'Adam',
 'Mr.',
 'Dr.',
 'Dr.',
 'Mr.',
 'Mr.',
 'Mr.',
 'Mr.',
 'Anne',
 'Mr.',
 'Mrs.',
 'Troy',
 'Mr.',
 'Mrs.',
 'Dr.',
 'Mr.',
 'Mr.',
 'Mr.',
 'Mr.',
 'Miss',
 'Mr.',
 'Anna',
 'John',
 'Mr.',
 'Mr.',
 'Mrs.',
 'Eric',
 'Mr.',
 'Dr.',
 'Dr.',
 'Mr.',
 'Mr.',
 'Ryan',
 'Mrs.',
 'Dr.',
 'Emma',
 'Mr.',
 'Mr.',
 'Mrs.',
 'Miss',
 'Mr.',
 'Mr.',
 'Mrs.',
 'Mrs.',
 'Mr.',
 'Mr.',
 'Mr.',
 'Mrs.',
 'Mr.',
 'Dr.',
 'Lisa',
 'Mr.',
 'Dr.',
 'Mrs.',
 'John',
 'Mrs.',
 'Ms.',
 'Mrs.',
 'Mrs.',
 'Dr.',
 'Mr.',
 'Mrs.',
 'Mr.',
 'Amy',
 'Dr.',
 'Mr.',
 'Dr.',
 'Mrs.',
 'Dr.',
 'Dr.',
 'Lori',
 'Mr.',
 'Dr.',
 'Mrs.',
 'Amy',
 'Dr.',
 'Mrs.',
 'Dr.',
 'Anne',
 'Dr.',
 'Mr.',
 'Mr.',
 'Mr.',
 'Mr.',
 'Mr.',
 'Mrs.',
 'Mike',
 'Mrs.',
 'Todd',
 'Mrs.',
 'Mr.',
 'Mr.',
 'Mrs.',
 'Dr.',
 'Mr.',
 'Mrs.',
 'Dr.',
 'Dr.',
 'Mrs.',
 'Mrs.',
 'Mr.',
 'Dr.',
 'Mrs.',
 'Mrs.',
 'Dr.',
 'Dr.',
 'Miss',
 'Mr.',
 'Mrs.',
 'Dr.',
 'Dr.',
 'Mrs.',
 'Mr.',
 'Mrs.',
 'Mr.',
 'Mr.',
 'Dr.',
 'Mr.',
 'Dr.',
 'Mrs.',
 'Dr.',
 'Ms.',
 'Mr.',
 'Miss',
 'Dr.',
 'Miss',
 'Dr.',
 'Leah',
 'Miss',
 'Mr.',
 'Mr.',
 'Dr.',
 'Mr.',
 'Dr.',
 'Dr.',
 'Dr.',
 'Mr.',
 'Dr.',
 'Dr.',
 'Dr.',
 'Mr.',
 'Dr.',
 'Ian',
 'Dr.',
 'Mr.',
 'Dr.',
 'Mr.',
 'Dr.',
 'Mrs.',
 'Miss',
 'Dr.',
 'Mrs.',
 'Ms.',
 'Dr.',
 'Dr.',
 'Mark',
 'Mr.',
 'Kari',
 'Mrs.',
 'Mrs.',
 'Mr.',
 'Mrs.',
 'Dr.',
 'Dr.',
 'Mrs.',
 'Dr.',
 'Mrs.',
 'Kara',
 'Mark',
 'John',
 'Mrs.',
 'Dr.',
 'Mrs.',
 'Mr.',
 'Eric',
 'John',
 'Dr.',
 'Mrs.',
 'Dr.',
 'Mr.',
 'Paul',
 'Dr.',
 'Mrs.',
 'Dr.',
 'Dr.',
 'Dr.',
 'Adam',
 'Mrs.',
 'Ms.',
 'Dr.',
 'Mrs.',
 'Dr.',
 'Ms.',
 'Mrs.',
 'Mr.',
 'Mr.',
 'Mrs.',
 'Dr.',
 'Mrs.',
 'Mr.',
 'Dr.',
 'Mr.',
 'Dr.',
 'Dr.',
 'Paul',
 'Mrs.',
 'Cory',
 'Mrs.',
 'Dr.',
 'Dr.',
 'Dr.',
 'Mr.',
 'Mr.',
 'Erin',
 'Dr.',
 'Dr.',
 'Ms.',
 'Mrs.',
 'Mr.',
 'Miss',
 'Mr.',
 'Mr.',
 'Mr.',
 'Ms.',
 'Mrs.',
 'Mr.',
 'Mrs.',
 'Miss',
 'Ms.',
 'Dr.',
 'Dr.',
 'Mrs.',
 'Mr.',
 'Mrs.',
 'John',
 'Lisa',
 'Mr.',
 'Mr.',
 'Mrs.',
 'Mr.',
 'Jon',
 'Mrs.',
 'Dr.',
 'Greg',
 'Ms.',
 'Mrs.',
 'Mr.',
 'Mrs.',
 'Miss',
 'Mr.',
 'Dr.',
 'Joe',
 'Dr.',
 'Mark',
 'Dr.',
 'Mrs.',
 'Miss',
 'Mr.',
 'Mr.',
 'Mr.',
 'Mrs.',
 'Dr.',
 'Mr.',
 'Mr.',
 'Mr.',
 'Adam',
 'Mr.',
 'Mr.',
 'Dana',
 'Dr.',
 'Mr.',
 'Dr.',
 'Mrs.',
 'Mr.',
 'Erik',
 'Mrs.',
 'Dr.',
 'Miss',
 'Mrs.',
 'Ms.',
 'Mr.',
 'Mr.',
 'Mr.',
 'John',
 'Gail',
 'Todd',
 'Mr.',
 'Mr.',
 'Mrs.',
 'Ms.',
 'Ryan',
 'Mrs.',
 'Mrs.',
 'Dr.',
 'Erik',
 'Omar',
 'Mr.',
 'Dr.',
 'Cody',
 'Ms.',
 'Dr.',
 'Mrs.',
 'Dr.',
 'Mr.',
 'Mr.',
 'Miss',
 'Mark',
 'Dr.',
 'Dr.',
 'Mr.',
 'Mrs.',
 'Mr.',
 'Mr.',
 'Mr.',
 'Mrs.',
 'Mr.',
 'Mrs.',
 'Mr.',
 'Dr.',
 'Dr.',
 'Mr.',
 'Mr.',
 'Mr.',
 'Dr.',
 'Miss',
 'Mrs.',
 'Seth',
 'Dr.',
 'Mrs.',
 'Ryan',
 'Mrs.',
 'Mrs.',
 'Mrs.',
 'Mr.',
 'Mrs.',
 'Dr.',
 'Mr.',
 'Mrs.',
 'Ryan',
 'Mrs.',
 'Mr.',
 'Dr.',
 'Dr.',
 'Mr.',
 'Dr.',
 'Dr.',
 'Mrs.',
 'Ms.',
 'Dr.',
 'Dr.',
 'Mr.',
 'Mr.',
 'Ms.',
 'Dr.',
 'Dr.',
 'Dr.',
 'Mr.',
 'Mrs.',
 'Mr.',
 'Lisa',
 'Mr.',
 'Dr.',
 'Chad',
 'Gina',
 'Dr.',
 'Mr.',
 'Mr.',
 'Mrs.',
 'Amy',
 'Mr.',
 'Mrs.',
 'Mr.',
 'Dr.',
 'Mr.',
 'Dr.',
 'Mrs.',
 'Lisa',
 'Mrs.',
 'Dr.',
 'Miss',
 'Mr.',
 'Mr.',
 'Ms.',
 'Mrs.',
 'Mr.',
 'Mrs.',
 'Mr.',
 'Dr.',
 'Dr.',
 'Mr.',
 'Lisa',
 'Dr.',
 'Mr.',
 'Ms.',
 'Mrs.',
 'Mr.',
 'Dr.',
 'Dr.',
 'Mrs.',
 'Sean',
 'Dr.',
 'Dr.',
 'Mr.',
 'Mr.',
 'Miss',
 'Miss',
 'Dr.',
 'Mr.',
 'Dr.',
 'Dr.',
 'Mrs.',
 'Mr.',
 'Mrs.',
 'Mrs.',
 'Dr.',
 'Mrs.',
 'Dr.',
 'Mr.',
 'Mrs.',
 'Mr.',
 'Mr.',
 'Todd',
 'Dr.',
 'Mrs.',
 'Mrs.',
 'Miss',
 'Dr.',
 'Mrs.',
 'Mr.',
 'Mr.',
 'Mrs.',
 'Adam',
 'Mrs.',
 'Ms.',
 'Tony',
 'Dr.',
 'Miss',
 'Toni',
 'Ms.',
 'Mr.',
 'Mr.',
 'Dr.',
 'Ms.',
 'Dr.',
 'Mrs.',
 'Dr.',
 'Dr.',
 'Dr.',
 'Jose',
 'Dr.',
 'Dr.',
 'Amy',
 'John',
 'Mrs.',
 'Mr.',
 'Mrs.',
 'Mrs.',
 'Miss',
 'Mr.',
 'Dr.',
 'Mary',
 'Mark',
 'Dr.',
 'Ms.',
 'Ms.',
 'Dr.',
 'Mr.',
 'Dr.',
 'Miss',
 'Mr.',
 'Dr.',
 'Troy',
 'John',
 'Dr.',
 'Kim',
 'Mr.',
 'Mr.',
 'Miss',
 'Mary',
 'Mrs.',
 'Mrs.',
 'Mrs.',
 'Mr.',
 'Dr.',
 'Ms.',
 'Mrs.',
 'Anna',
 'Mr.',
 'Mrs.',
 'Mr.',
 'Mr.',
 'Dr.',
 'Mrs.',
 'Dr.',
 'Dr.']

In [148]:
fixes_made = len(prefixes) + len(suffixes)

In [149]:
len(faulty_names)

1531

In [150]:
# returns unique values stored within list
set(suffixes)

{'DDS', 'DVM', 'II', 'III', 'IV', 'Jr.', 'MD', 'PhD'}

In [151]:

student_data_df.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score'],
      dtype='object')

In [152]:
# replacing prefixes/suffixes: .strip() will replace any character(s) that are within parenthesis, whereas .replace() will match exact cases
cleaned_prefixes_suffixes = ['Dr. ', 'Miss ', 'Mrs. ','Ms. ','Mr. ', ' DDS', ' DVM', ' MD', ' PhD']
#cleaned_faulty_list = []
#for name in faulty_names:
#    for prefix in cleaned_prefixes:
#            if prefix == name.split()[0]:
#                cleaned_faulty_list.append(name.replace(prefix, ""))
#    if name.split()[-1] in suffixes:
#        cleaned_faulty_list.append(name.replace(name.split()[-1],""))
for prefix in cleaned_prefixes_suffixes:
    student_data_df['student_name'] = student_data_df['student_name'].str.replace(prefix, "")

stu_names = student_data_df['student_name'].tolist()

student_names_fixed = []

for name in stu_names:
    if len(name.split()) >= 3:
        student_names_fixed.append(name)
len(student_names_fixed)

151

In [153]:
student_data_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75

In [154]:
student_data_df.to_csv('cleaned_student_data.csv', index=False)

In [155]:
school_data_df.columns

Index(['School ID', 'school_name', 'type', 'size', 'budget'], dtype='object')

In [156]:
student_data_df.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score'],
      dtype='object')

In [157]:
school_data_complete_df = pd.merge(student_data_df, school_data_df, on=['school_name', 'school_name'])
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [158]:
# finding total number of students
student_count = school_data_complete_df['Student ID'].count()
student_count

39170

In [159]:
school_count = school_data_df['school_name'].count()
school_count

15

In [160]:
# creates a list of all unique values
schoolCount = school_data_complete_df['school_name'].unique()
len(schoolCount)

15

In [161]:
total_budget = school_data_df['budget'].sum()
total_budget

24649428

In [162]:
average_reading_score = school_data_complete_df['reading_score'].mean()
average_reading_score

81.87784018381414

In [163]:
average_math_score = school_data_complete_df['math_score'].mean()
average_math_score

78.98537145774827

In [164]:
passing_math = school_data_complete_df[school_data_complete_df['math_score'] >= 70]
passing_math.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635

In [165]:
passing_reading = school_data_complete_df[school_data_complete_df['reading_score'] >= 70]
passing_reading

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [166]:
passing_math_count = passing_math['student_name'].count()
passing_reading_count = passing_reading['student_name'].count()

passing_math_percentage = passing_math_count / student_count * 100
passing_reading_percentage = passing_reading_count / student_count * 100

In [167]:
print(passing_math_count)
print(passing_reading_count)
print(student_count)

29370
33610
39170

In [168]:
passing_math_reading = school_data_complete_df[(school_data_complete_df['math_score'] >= 70) & (school_data_complete_df['reading_score'] >= 70)]
passing_math_reading

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [169]:
overall_passing_percentage = 100 * passing_math_reading['student_name'].count()/student_count
overall_passing_percentage

65.17232575950983

In [170]:
# Adding a list of values with keys to create a new DataFrame.
district_summary_df = pd.DataFrame(
          [{"Total Schools": school_count,
          "Total Students": student_count,
          "Total Budget": total_budget,
          "Average Math Score": average_math_score,
          "Average Reading Score": average_reading_score,
          "% Passing Math": passing_math_percentage,
         "% Passing Reading": passing_reading_percentage,
        "% Overall Passing": overall_passing_percentage}])
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [171]:
# formatting
district_summary_df['Total Students'] = district_summary_df['Total Students'].map("{:,}".format)

In [172]:
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170",24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [173]:
district_summary_df['Total Budget'] = district_summary_df['Total Budget'].map("${:,.2f}".format)

In [174]:
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

In [175]:
#district_summary_df['Average Math Score'] = district_summary_df["Average Math Score"].map("{:.2f}".format)
#district_summary_df['% Passing Math'] = district_summary_df['% Passing Math'].map("{:.2f}%".format)

In [176]:
# Format the columns.
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)

district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)

district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.0f}".format)

district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.0f}".format)

district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.0f}".format)

In [177]:
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",79.0,81.9,75,86,65